{% extends "base.html" %}
{% block title %}Om Turings gäng{% endblock %}
{% block nav_about %}navbaractive{% endblock %}
{% block mobile_nav_about %}navbaractive{% endblock %}

{% block body %}

    <div id="aboutbody">

        <h1>Om Turings gäng</h1>
        <p>
            Vi som startat Turings gäng heter Teodor Bucht och Arvid Lunnemark, och är två gymnasieelever på Malmö Borgarskola som sysslar med tävlingsprogrammering – något som vi tycker är väldigt roligt.
            Vi vill därför väcka intresset för tävlingsprogrammering, så att fler kan få upptäcka hur kul det är. 
            Inspirerat av Pythagoras gäng, där högstadieelever får lära sig problemlösning i matte, skapade vi Turings gäng, där vi i stället lär ut tävlingsprogrammering.
        </p>

        <h3>
            Exakt vad är tävlingsprogrammering?
        </h3>
        <p>
            Tävlingsprogrammering kan sammanfattas rätt enkelt: det är problemlösning, med hjälp av datorer!
            Man får helt enkelt i uppgift att skriva ett program som löser ett visst problem.
            Problemen är ofta snarlika kluriga matteproblem, och ett exempel på ett problem kan vara hur man åker buss så billigt som möjligt.
            Det är denna typ av problem som man kommer i kontakt med om man deltar i programmeringstävlingar.
        </p>
        <p>
        Den största programmeringstävlingen i Sverige är <a href="http://progolymp.se">Programmeringsolympiaden</a>, som består av ett kval som görs på skolorna, och därefter en final i Stockholm. Går det bra i Programmeringsolympiaden kan man ta sig vidare till flera internationella tävlingar som <a href="http://progolymp.se/tavling/internationell/">den baltiska programmeringsolympiaden (BOI)</a>, och <a href="http://progolymp.se/tavling/internationell/">den internationella programmeringsolympiaden (IOI)</a>. Arvid var en av fyra svenskar på IOI 2017 som hölls i Iran, och tog där en silvermedalj. Teodor kom på elfte plats i den svenska programmeringsolympiaden.
        </p>

        <h3>
            Hur går det till?
        </h3>
        <p>
            Varje torsdag träffas vi klockan tre på Malmö Borgarskola, där vi går igenom olika koncept i tävlingsprogrammering och studerar vissa problem gemensamt. Vi kommer också att avsätta tid för problemlösande antingen på egen hand eller tillsammans med andra deltagare, och vi kommer då att finnas tillgängliga för frågor. Av erfarenhet vet vi att det är genom att faktiskt lösa problem som man lär sig bäst, och mellan varje vecka kommer vi därför att ge ett antal problem i läxa. Lösningar till problemen skrivs på den här sidan, och rättas också automatiskt här.
            <p>
            Det krävs inga förkunskaper i programmering – bara nyfikenhet och ett intresse för att tänka!
            </p>
        </p>
        <h3>
            Låter som min grej! Hur anmäler jag mig?
        </h3>
        <p>
        På vissa skolor i Malmö kommer din lärare att ge dig information, och du kan då anmäla dig genom honom eller henne. Om du inte har hört något från en lärare, så kan du skicka ett mejl till <a href="mailto:arvid.lunnemark@gmail.com">arvid.lunnemark@gmail.com</a> eller <a href="mailto:teodor.bucht@gmail.com">teodor.bucht@gmail.com</a>. Skriv ditt namn och vilken skola du går på, så svarar vi dig med mer detaljer.
        </p>

    </div>





{% endblock %} 
