{% extends "base.html" %}
{% block title %}Om Turings gäng{% endblock %}
{% block nav_about %}navbaractive{% endblock %}
{% block mobile_nav_about %}navbaractive{% endblock %}

{% block body %}

    <div id="aboutbody">

        <h1>Om Turings gäng</h1>
        <img id="aboutimage" src="{{ url_for("static", filename="about/arvidteodor_lq.jpg") }}">
        <p>
            Vi som startat Turings gäng heter Teodor Bucht (till vänster i bilden) och Arvid Lunnemark (höger), och är två gymnasieelever på Malmö Borgarskola.
            Vi sysslar med tävlingsprogrammering – något som vi tycker är väldigt roligt – och vill väcka intresset för det så att fler kan få upptäcka hur kul det är.
            Inspirerat av Pythagoras gäng, där högstadieelever får lära sig problemlösning i matte, skapade vi Turings gäng, där vi i stället lär ut tävlingsprogrammering till intresserade elever i årskurs 7, 8 och 9.
        </p>

        <h3>
            Exakt vad är tävlingsprogrammering?
        </h3>
        <p>
            Tävlingsprogrammering kan sammanfattas rätt enkelt: det är problemlösning, med hjälp av datorer!
            Man får helt enkelt i uppgift att skriva ett program som löser ett visst problem.
            Problemen är ofta snarlika kluriga matteproblem, och ett exempel på ett problem kan vara hur man åker buss så billigt som möjligt.
            Det är denna typ av problem som man kommer i kontakt med om man deltar i programmeringstävlingar.
        </p>
        <p>
        Den största programmeringstävlingen i Sverige är <a target="_blank" href="http://progolymp.se">Programmeringsolympiaden</a>, som består av ett kval som görs på skolorna, och därefter en final i Stockholm.
        Går det bra i Programmeringsolympiaden kan man ta sig vidare till <a target="_blank" href="http://progolymp.se/tavling/internationell/">den internationella programmeringsolympiaden (IOI)</a>, som det här året hölls i Iran i början av augusti. Arvid var en av fyra svenskar som var med på IOI i Iran, och tog där en silvermedalj. Teodor kom på elfte plats i den svenska programmeringsolympiaden.
        </p>

        <h3>
            Hur går det till?
        </h3>
        <p>
            Varje torsdag träffas vi kl. 16.00 - 17.00 på Malmö Borgarskola, där vi går igenom olika koncept i tävlingsprogrammering och studerar vissa problem gemensamt. Vi kommer också att avsätta tid för problemlösning antingen på egen hand eller tillsammans med andra deltagare, och vi kommer då att finnas tillgängliga för frågor. Av erfarenhet vet vi att det är genom att faktiskt lösa problem som man lär sig bäst, och mellan varje veckoträff kommer vi därför att ge ett antal problem i läxa.
            <p>
            Det krävs inga förkunskaper i programmering – bara nyfikenhet och ett intresse för att tänka!
            </p>
        </p>
        <h3>
            Låter som min grej! Hur anmäler jag mig?
        </h3>
        <p>
        Så roligt!
        Vi kommer att hålla en introduktionsträff tisdag 29 augusti kl. 18.30 på Malmö Borgarskola (Regementsgatan 36, 211 42 Malmö).
        Du kan <a target="_blank" href="https://goo.gl/forms/fXwXn9Y51zCi3F703">anmäla dig till den här</a>.
        </p>
        <h3>
            Fler frågor?
        </h3>
        <p>
        Tveka inte att skriva ett mejl till <a href="mailto:arvid.lunnemark@gmail.com">arvid.lunnemark@gmail.com</a> eller <a href="mailto:teodor.bucht@gmail.com">teodor.bucht@gmail.com</a>!
        </p>

    </div>





{% endblock %} 
