{% extends "base.html" %}
{% block title %}Kontrollpanel - Turings gäng{% endblock %}

{% block body %}

<div id="controlpanelbody">

    <h1>Kontrollpanel</h1>

    <h2>Användare</h2>

    <table class="realtable" id="controlpaneluserstable">
        <tr class="tableheader">
            <td>Username</td>
            <td>Email</td>
            <td>Group</td>
            <td>Elevate</td>
            <td>Radera</td>
        </tr>
        {% for user in allusers %}
        <tr>
            <td><a href="{{ url_for('userstats', userid=user['userid'], _external=True, _scheme='https') }}">{{ user['username'] }}</a></td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['groupstatus'] }}</td>
            <td class="elevateusercell"><a href="{{ url_for('elevateuser', userid=user['userid'], _external=True, _scheme='https') }}">Elevate</a></td>
            <td class="removefilecell"><a onclick="return confirm('Vill du verkligen radera {{ user['username'] }}?');" href="{{ url_for('deleteuser', userid=user['userid'], _external=True, _scheme='https') }}">Radera</a></td>
        </tr>
        {% endfor %}
    </table>

    {% for assignment in assignments %}
        <h3>
            {{ assignment["title"] }}
        </h3>
        <table class="realtable assignmenttable">
            <tr class="tableheader">
                <td>Problem</td>
                {% for student in allstudents %}
                <td><a href="{{ url_for('userstats', userid=student['userid'], _external=True, _scheme='https') }}">{{ student['username'] }}</a></td>
                {% endfor %}
            </tr>
            {% for problem in assignment["problems"] %}
            <tr>
                <td><a href="{{ url_for("problem", problemid=problem["problemid"], _external=True, _scheme="https") }}">{{ problem["problemtitle"] }}</a></td>
                {% for student in allstudents %}
                <td class = "{{ problem["studentstatus"][student["userid"]] }}">{{ problem["studentstatus"][student["userid"]] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% for problem in assignment["extraproblems"] %}
            <tr>
                <td><a href="{{ url_for("problem", problemid=problem["problemid"], _external=True, _scheme="https") }}">{{ problem["problemtitle"] }}</a></td>
                {% for student in allstudents %}
                <td class = "{{ problem["studentstatus"][student["userid"]] }}">{{ problem["studentstatus"][student["userid"]] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <h3>Alla submissions</h3>

    <table class="realtable cpsubmissionstable">
        <tr class="tableheader">
            <td>Datum</td>
            <td>Användare</td>
            <td>Visa</td>
            <td>Problem</td>
            <td>Status</td>
            <td>CPU</td>
        </tr>
        {% for sub in allsubmissions %}
            <tr id="submissioninfodetails">
                <td>{{ sub["submissiondate"].strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ sub["username"] }}</td>
                <td class="submissionlink"><a href="{{ sub['submissionlink'] }}">View</a></td>
                <td><a href="{{ url_for('problem', problemid=sub["problemid"]) }}">{{ sub["problemtitle"] }}</a></td>
                <td class="submissionstatus {{ sub["submissionstatus"] }}">{{ sub["submissionstatus"] }}</td>
                <td class="submissiontime">{{ sub["executiontime"] }}</td>
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}
        
