{% extends "base.html" %}
{% block title %}{{ myfile['filename'] }} - Turings gäng{% endblock %}

{% block bodyid %}bodyfileeditor{% endblock %}


{% block nav_editor %}navbaractive{% endblock %}

{% block viewport %}{% endblock %}

{% block head %}
<script>
function filenamechange(inputfield) {
    if (event.keyCode == 13) {
        inputfield.blur();
    }
}
var lastfilename = "{{ myfile['filename'] }}";
function filenamelostfocus(inputfield) {
    newfilename = inputfield.value;

    // verify filename
    if (newfilename == "") {
        inputfield.value = lastfilename;
        return;
    }
    lastfilename = newfilename;
    document.title = newfilename + " - Turings gäng";

    var xhr = new XMLHttpRequest();
    var savedfile = {};
    savedfile["fileid"] = fileid;
    savedfile["filename"] = newfilename;
    xhr.open("POST", "/changefilename", true);
    xhr.send(JSON.stringify(savedfile));
}
function selectall(inputfield) {
    if (inputfield.value.startsWith("Namnlös")) {
        inputfield.setSelectionRange(0, inputfield.value.length);
    }
}

</script>
{% endblock %}

{% block centernavigation %}
<td class="centernavigationfile">
    <input spellcheck="false" class="filenameinput" type="text" value="{{ myfile['filename'] }}" onkeydown="filenamechange(this)" onfocusout="filenamelostfocus(this)" onclick="selectall(this)">
</td>
{% endblock %}

{% block body %}


<script>
        // global variables
        var fileid = "{{ myfile['fileid'] }}";
        var updatecount = 0;
        var xhr = null;
        function runbutton() {
            document.getElementById("editoroutput").value = "";
            var cppfile = editor.getSession().getValue();
            var inputfile = document.getElementById("editorinput").value;
            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    var fullresponse = JSON.parse(xhr.responseText);
                    document.getElementById("editorcontextualstatuslink").style.display = "none";
                    document.getElementById("editorcontextualstatusmessage").style.display = "inline";
                    document.getElementById("editorcontextualstatusplaceholder").style.display = "none";
                    document.getElementById("editorerrormessage").innerHTML = "";
                    document.getElementById("editorerrormessage").style.display = "none";
                    document.getElementById("editorrunbutton").innerHTML = "Run";
                    document.getElementById("editorrunbutton").className = "";
                    if (fullresponse["success"]) {
                        document.getElementById("editoroutput").value = fullresponse["output"];
                        document.getElementById("editorcontextualstatusmessage").innerHTML = "Success! (" + fullresponse["executiontime"] + ")";
                        if ("runtimeerror" in fullresponse) {
                            document.getElementById("editorerrormessage").innerHTML = fullresponse["runtimeerror"];
                            document.getElementById("editorerrormessage").style.display = "block";
                        } else {
                            document.getElementById("editorerrormessage").innerHTML = "";
                            document.getElementById("editorerrormessage").innerHTML = "";
                            document.getElementById("editorerrormessage").style.display = "none";
                        }
                    } else {
                        document.getElementById("editorcontextualstatusmessage").innerHTML = "An error occurred.";
                        document.getElementById("editoroutput").value = "";
                        if ("runtimeerror" in fullresponse) {
                            document.getElementById("editorerrormessage").innerHTML = fullresponse["runtimeerror"];
                            document.getElementById("editorerrormessage").style.display = "block";
                        }
                        if ("compileerror" in fullresponse) {
                            document.getElementById("editorerrormessage").innerHTML = fullresponse["compileerror"];
                            document.getElementById("editorerrormessage").style.display = "block";
                        }
                        if ("timeout" in fullresponse) {
                            if (fullresponse["timeout"]) {
                                document.getElementById("editorcontextualstatusmessage").innerHTML = "The execution timed out. (" + fullresponse["executiontime"] + ")";
                            }
                        }
                    }


                }
            }
            var filedata = {};
            filedata["fileid"] = fileid;
            filedata["filecontents"] = cppfile;
            filedata["inputfile"] = inputfile;
            xhr.open("POST", "/compileandrun", true);
            document.getElementById("editorcontextualstatuslink").style.display = "inline";
            document.getElementById("editorcontextualstatusmessage").style.display = "none";
            document.getElementById("editorcontextualstatusplaceholder").style.display = "none";
            document.getElementById("editorrunbutton").innerHTML = "Running...";
            document.getElementById("editorerrormessage").innerHTML = "";
            document.getElementById("editorerrormessage").style.display = "none";
            document.getElementById("editorrunbutton").className = "editorrunbuttonrunning";
            xhr.send(JSON.stringify(filedata));
        }
        
        function stopbutton() {
            if (xhr != null) {
                xhr.abort();
            }
            document.getElementById("editoroutput").value = "";
            document.getElementById("editorcontextualstatuslink").style.display = "none";
            document.getElementById("editorcontextualstatusmessage").style.display = "none";
            document.getElementById("editorcontextualstatusplaceholder").style.display = "inline";
            document.getElementById("editorerrormessage").innerHTML = "";
            document.getElementById("editorerrormessage").style.display = "none";
            document.getElementById("editorrunbutton").innerHTML = "Run";
            document.getElementById("editorrunbutton").className = "";
        }
            
    </script>


    <table id="editortable">
    
        <tr>


            <td id="editorleftpanel">

                <div id="editoreditor"></div>

                <script src="{{ url_for('static',filename='ace-builds/src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
                <script>
                    var editor = ace.edit("editoreditor");
                    editor.setShowPrintMargin(false);
                    editor.setTheme("ace/theme/textmate");
                    editor.getSession().setMode("ace/mode/c_cpp");
                    var cur_str = {{ filecontents | safe }};
                    editor.setValue(cur_str,1);
                    editor.gotoLine(6,4);
                    editor.getSession().on('change', function() {
                        updatecount += 1;
                        if (updatecount > 10) {
                            update();
                            updatecount = 0;
                        }
                    });
                    function update() 
                    {
                        var cppfile = editor.getSession().getValue();
                        var xhr = new XMLHttpRequest();
                        var savedfile = {};
                        savedfile["fileid"] = fileid;
                        savedfile["filecontents"] = cppfile;
                        xhr.open("POST", "/savefile", true);
                        xhr.send(JSON.stringify(savedfile));
                    }
                </script>

            </td>

            <td id="editorrightpanel" valign="top">

                <div id="editorcontrolpanel">
                    <button onclick="runbutton()" id="editorrunbutton">Run</button>
                    <div id="editorcontextualstatusdiv"><a onclick="stopbutton()" style="display:none;" id="editorcontextualstatuslink">Stop</a><span style="display:none;" id="editorcontextualstatusmessage">Finished.</span><span id="editorcontextualstatusplaceholder">Meh.</span></div>
                </div>

                <div id="editorerrormessage" style="display:none;"></div>

                <h4 class="editoriolabel">Input</h4>

                <textarea class="editortextarea editorio" id="editorinput"></textarea>

                <h4 class="editoriolabel" id="editoroutputlabel">Output</h4>

                <textarea class="editortextarea editorio" id="editoroutput" readonly></textarea>


        </tr>

    </table>    


{% endblock %}
