{% extends "base.html" %}
{% block title %}Logga in - Turings gäng{% endblock %}
{% block loginlink %}{{ url_for('login', _external=True, _scheme='https') }}{% endblock %}

{% block body %}
<div id="problembody">

        <h1 class="loginheader">
            Logga in
        </h1>

        <div id="infoarea">
            {% if failedattempt %}

            <span id="faillabel">Fel e-postadress eller lösenord!</span>

            {% endif %}
            {% if signupsuccess %}
            <span id="infolabel">Du har nu skapat ett konto! Logga in nedan.</span>
            {% endif %}
            {% if loginfirstmessage %}
            <span id="infolabel">Du måste logga in först.</span>
            {% endif %}
        </div>

        <div id="loginformcontainer">
            <script>
                
                var current_url = window.location.href;
                document.getElementById("loginform").action = current_url;

            </script>

            <form id="loginform" method="post">
                <h4>E-postadress</h4>
                <input type="email" name="email" required>
                <h4>Lösenord</h4>
                <input type="password" name="password" required>
                <div id="submitrow">
                    <button type="submit">Logga in</button>
                </div>


            </form>
            
            <div id="signuparea">
                {% if urlfrom == "nourlfrom" %}
                    Ny användare? <a id="signuplabel" href="{{ url_for('signup') }}">Skapa konto</a>.
                {% else %}
                    Ny användare? <a id="signuplabel" href="{{ url_for('signup', loginfrom=urlfrom) }}">Skapa konto</a>.
                {% endif %}
            </div>

        </div>


    </div>



{% endblock %} 
