{% extends "base.html" %}
{% block title %}Logga in - Turings gäng{% endblock %}

{% block body %}
<div id="problembody">


        <div id="loginformcontainer">
            <div id="infoarea">
                    {% if failedattempt %}

                <label id="faillabel">Wrong username or password!</label>

                {% endif %}
                {% if signupsuccess %}
                <label id="infolabel">Signup successful!</label>
                {% endif %}
                {% if loginfirstmessage %}
                <label id="infolabel">You need to log in first.</label>
                {% endif %}
            </div>

            <script>
                
                var current_url = window.location.href;
                document.getElementById("loginform").action = current_url;

            </script>

            <form id="loginform" method="post">
                <table>
                    <tr>
                        <td><label>Username:</label></td>
                        <td><input type="text" name="username" required></td>
                    </tr>
                    <tr>
                        <td><label>Password:</label></td>
                        <td><input type="password" name="password" required></td>
                    </td>
                </table>
                <div id="submitrow">
                    <button type="submit">Login</button>
                </div>


            </form>
            
            <div id="signuparea">
                {% if urlfrom == "nourlfrom" %}
                    <a id="signuplabel" href="{{ url_for('signup') }}">New user? Sign up.</a>
                {% else %}
                    <a id="signuplabel" href="{{ url_for('signup', loginfrom=urlfrom) }}">New user? Sign up.</a>
                {% endif %}
            </div>

        </div>


    </div>



{% endblock %} 
