<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Judge</title>
 
 
    <link href="{{ url_for('static',filename='styles/mainpage.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">

    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                processEscapes: true
            }
        });
    </script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

 
</head>
 
<body>

    <script>

        // global variables
        var problemid = "{{ problemid }}";
            



    </script>

    <nav>
        <table>
            <tr>
                <td class="home"><a href="{{ url_for('home') }}">Home</a></td>
                <td class="brand"><b>BorgarJudge</b></td>
                {% if logged_in %}
                    <td class="loggedin"><span id="loggedinmessage">Logged in as {{ username }}.</span> <a href="{{ url_for('logout', from=request.url, _external=True, _scheme='https') }}">Logout</a></td>
                {% else %}
                    <td class="login"><a href="{{ url_for('login', _external=True, _scheme='https', urlfrom=request.url) }}">Login</a></td>
                {% endif %}
            </tr>
        </table>
    </nav>

    <div id="problembody">

        <p id="problemstatement">

            {{ problemstatement | safe }}

        </p>


        <table class="samples">
        {% for sample in samples %}

            <tr class="samplerow">
                <td class="sampleinput" valign="top">
                    <h3 class="inputoutputtitle sampleinput">Sample Input {{ loop.index }}</h3>
                    <div class="sampleterminal">{{ sample["in"] | safe }}</div>
                </td>
                <td class="sampleoutput" valign="top">
                    <h3 class="inputoutputtitle sampleoutput">Sample Output {{ loop.index }}</h3>
                    <div class="sampleterminal">{{ sample["out"] | safe }}</div>
                </td>
            </tr>
        {% endfor %}
        </table>

        <h2 class="submissionstitle">Submissions</h2>

        {% if submissions|length == 0 %}
            <p>No submissions. Make your first one!</p>
        {% else %}

            <table class="submissions">
                <tr class="tableheader">
                    <td>Date</td>
                    <td>Full submission</td>
                    <td>Status</td>
                    <td>CPU</td>
                </tr>
            {% for submission in submissions %}
                    
                <tr>
                    <td class="submissiondate">{{ submission["submissiondate"].strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td class="submissionlink"><a href="{{ submission['submissionlink'] }}">View submission</a></td>
                    <td class="submissionstatus">{{ submission["submissionstatus"] }}</td>
                    <td class="submissiontime">{{ submission["executiontime"] }}</td>
                </tr>
                
            {% endfor %}

            </table>

        {% endif %}

    </div>

    <form action="{{ url_for('submit') }}">
        <input type="text" style="display:none" name="problem" value="{{ problemid }}"></input>
        <button type="submit" id="submitbutton">Submit</button>
    </form>



 
</body>
 
</html>
