{% extends "base.html" %}
{% block title %}Alla problem - Turings gäng{% endblock %}
{% block nav_problemslist %}navbaractive{% endblock %}

{% block body %}

    <div id="problembody">

        <h1>Alla problem</h1>

        <table class="realtable problemtable">
            <tr class="tableheader">
                <td>Namn</td>
            </tr>
            {% for problem in problems %}
            <tr>
                <td class="{{ problem['status'] }}"><a href="{{ url_for('problem', problemid=problem['problemid'], _external=True, _scheme='https') }}">{{ problem['problemtitle'] }}</a></td>
            </tr>
            {% endfor %}
        </table>

    </div>





{% endblock %} 
