{% extends "base.html" %}

{% block title %}{{ problemtitle | safe }} - Turings gäng{% endblock %}

{% block head %}{{ needsmath() }}{% endblock %}

{% block body %}



<script>

        // global variables
        var problemid = "{{ problemid }}";
            



    </script>

    <div id="problembody">

        <div class="realproblembody">

            <div id="problemheader">

                <h1 id="problemtitle">{{ problemtitle | safe }}</h1>

                <div id="problemtimelimit">Time limit: 1 second</div>

                <form action="{{ url_for('submit') }}">
                    <input type="text" style="display:none" name="problem" value="{{ problemid }}"></input>
                    <button type="submit" id="submitbutton">Submit</button>
                </form>

            </div>
            <hr id="problemheaderseparator">

            <p>

                {{ problemstatement | safe }}

            </p>


            <table class="samples">
            {% for sample in samples %}

                <tr class="samplerow">
                    <td class="sampleinput" valign="top">
                        <h3 class="inputoutputtitle sampleinput">Sample Input {{ loop.index }}</h3>
                        <div class="sampleterminal">{{ sample["in"] | safe }}</div>
                    </td>
                    <td class="sampleoutput" valign="top">
                        <h3 class="inputoutputtitle sampleoutput">Sample Output {{ loop.index }}</h3>
                        <div class="sampleterminal">{{ sample["out"] | safe }}</div>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>

        <h2 class="submissionstitle">Submissions</h2>

        {% if submissions|length == 0 %}
            <p>No submissions. Make your first one!</p>
        {% else %}

            <table class="realtable submissions">
                <tr class="tableheader">
                    <td>Date</td>
                    <td>Full submission</td>
                    <td>Status</td>
                    <td>CPU</td>
                </tr>
            {% for submission in submissions %}
                    
                <tr>
                    <td class="submissiondate">{{ submission["submissiondate"].strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td class="submissionlink"><a href="{{ submission['submissionlink'] }}">View submission</a></td>
                    <td class="submissionstatus {{ submission['submissionstatus'] }}">{{ submission["submissionstatus"] }}</td>
                    <td class="submissiontime">{{ submission["executiontime"] }}</td>
                </tr>
                
            {% endfor %}

            </table>

        {% endif %}


        <hr id="problemcreditsseparator">
        <p class="problemcredits">{{ problemcredits | safe }}</p>
    </div>






{% endblock %} 
