{% extends "base.html" %}
{% block title %}Skapa konto - Turings gäng{% endblock %}

{% block body %}
    <div id="problembody">


        <div id="loginformcontainer">

            <div id="infoarea">
                {% if failedattempt %}

                <label id="faillabel">Username already taken!</label>

                {% endif %}
            </div>

            <form id="loginform" method="post">
                <table>
                    <tr>
                        <td><label>Username:</label></td>
                        <td><input type="text" name="username" required></td>
                    </tr>
                    <tr>
                        <td><label>Email:</label></td>
                        <td><input type="email" name="email" required></td>
                    </tr>
                    <tr>
                        <td><label>Password:</label></td>
                        <td><input type="password" id="password" name="password" required></td>
                    </td>
                    <tr>
                        <td><label>Retype password:</label></td>
                        <td><input type="password" name="passwordconfirmation" required oninput="check(this)"></td>
                    </td>
                </table>
                <div id="submitrow">
                    <button type="submit">Sign Up</button>
                </div>

                <script language='javascript' type='text/javascript'>
                    function check(input) {
                        if (input.value != document.getElementById('password').value) {
                            input.setCustomValidity('Password Must be Matching.');
                        } else {
                            // input is valid -- reset the error message
                            input.setCustomValidity('');
                        }
                    }
                </script>  

            </form>

        </div>


    </div>



 
{% endblock %}
