{% extends "base.html" %}
{% block title %}Skapa konto - Turings gäng{% endblock %}
{% block loginlink %}{{ url_for('login', _external=True, _scheme='https') }}{% endblock %}

{% block body %}
    <div id="problembody">


        <div id="loginformcontainer">

            <div id="infoarea">
                {% if failedattempt %}

                <span id="faillabel">Användarnamn redan upptaget!</span>

                {% endif %}
            </div>

            <form id="loginform" method="post">
                        <h4>Användarnamn</h4>
                        <input type="text" name="username" required>
                        <h4>Email</h4>
                        <input type="email" name="email" required>
                        <h4>Lösenord</h4>
                        <input type="password" id="password" name="password" required>
                        <h4>Bekräfta lösenord</h4>
                        <input type="password" name="passwordconfirmation" required oninput="check(this)">
                <div id="submitrow">
                    <button type="submit">Skapa konto</button>
                </div>

                <script language='javascript' type='text/javascript'>
                    function check(input) {
                        if (input.value != document.getElementById('password').value) {
                            input.setCustomValidity('Lösenorden måste vara samma.');
                        } else {
                            // input is valid -- reset the error message
                            input.setCustomValidity('');
                        }
                    }
                </script>  

            </form>

        </div>


    </div>



 
{% endblock %}
