body {

    /*font-family: "Open Sans", sans-serif;*/
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    padding-bottom: 4em;
    line-height: 170%;
}



a {
    text-decoration: none;
    color: rgba(59,99,187,1.0);
}
a:visited {
    color: rgba(59,99,187,1.0);
}

#problembody {
    padding: 1em 2em;
    max-width: 50em;
    margin: auto;
    margin-top: 3.8em;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    line-height: 100%;
}
nav a {
    font-weight: 600;
    color: rgba(255,255,255,1.0);
}
nav a:visited {
    color: rgba(255,255,255,1.0);
}

nav table {
    width: 100%;
    padding: 1em 2em;
    background-color: rgba(11,100,62,1.0);
    color: white;
    table-layout: fixed;
}

.home {
    text-align: left;
}
.brand {
    text-align: center;
}
.login {
    text-align: right;
}
.loggedin {
    text-align: right;
}

table.samples {
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-collapse: collapse;
}

.sampleterminal {
    font-family: monospace;
    background-color: rgba(0,0,0,0.1);
    padding: 1em 0.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgba(0,0,0,0.4);
    border-width: 1px;
    white-space: pre-wrap;
    text-align: left;
    line-height: 140%;
}
table.samples td {
    padding: 0.2em;
}


#submitbutton {
    width: 5.1em;
    height: 2.3em;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.3em;
    border: none;
    font-size: 1.15em;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    /*background-color: rgba(59,187,99,1.0);
    background-color: rgba(11,100,62,1.0);*/
    background-color: rgba(61,187,71,1.0);
    color: white;
    position: fixed;
    right: 2em;
    top: 5em;
}
#submitbuttonid {
    width: 5.1em;
    height: 2.3em;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.3em;
    border: none;
    font-size: 1.15em;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    /*background-color: rgba(59,187,99,1.0);
    background-color: rgba(11,100,62,1.0);*/
    background-color: rgba(61,187,71,1.0);
    color: white;
    margin-top: 1em;
}

#loginformcontainer {
    width: 22em;
    max-width: 80vw;
    margin: auto;
    padding: 1em;
    background-color: rgba(0,0,0,0.1);
}
#faillabel {
    color: red;
}
#signuparea {
    text-align: center;
}
#infoarea {
    text-align: center;
}

#loginform label {
    padding: 1em;
}
#loginform {
    padding: 1em 0;
}
#submitrow {
    text-align: center;
    padding-top: 1em;
}
#faillabel {
    text-align: center;
    width: 100%;
}
#signuplabel {
    text-align: center;
    width: 100%;
}



#problembodysubmit {
    padding: 1em 2em;
    min-width: 70vw;
    max-width: 50em;
    margin: auto;
    margin-top: 3.8em;
    text-align: center;
}
#problembodysubmission {
    padding: 1em 2em;
    min-width: 70vw;
    max-width: 50em;
    margin: auto;
    margin-top: 3.8em;
}
#problembodysubmission h1 {
    text-align: center;
    width: 100%;
}
#submissioninfo {
    width: 100%;
    margin: 2em 0;
}
.tableheader {
    font-weight: bold;
}
#editor {
    width: 100%;
    height: 50vh;
    margin: auto;
    border-radius: 0.5em;
    border-width: 1px;
    min-height: 20em;
}


#submissioneditor {
    width: 100%;
    margin: auto;
    border-radius: 0.5em;
    border-width: 1px;
    min-height: 20em;
    line-height: 150%;
}


.submissions {
    margin: auto;
    width: 100%;
}
.realtable, .realtable td {
    border-width: 1px;
    border-color: rgba(231,231,232,1.0);
    border-style: solid;
    border-collapse: collapse;
}
.realtable td {
    padding: 0.2em 0.5em;
}
.submissionstitle {
    padding-top: 1em;
}

.code {
    white-space: pre-wrap;
}


.problemcredits {
    color: rgba(0,0,0,0.4);
    font-size: 0.9em;
    width: 100%;
    text-align: center;
}
#problemcreditsseparator {
    margin-top: 4em;
    border-color: rgba(0,0,0,0.1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.submissionstatus {
    font-weight: 700;
}
#submissioninfo .Accepted, .submissions .Accepted {
    color: rgba(61,187,71,1.0);
}
.Wrong.Answer, .Time.Limit.Exceeded, .Runtime.Error, .Compile.Error {
    color: rgba(239,17,29,1.0);
}
.Running {
    color: rgba(137, 137, 146, 1.0);
}


.problemtable {
    width: 100%;
}

table.problemtable  tr  td.Accepted {
    background-color: rgba(218,255,229,1.0);
}
table.problemtable tr td.Wrong.Answer {
    background-color: rgb(255,225,226);
}
table.problemtable tr td.Time.Limit.Exceeded {
    background-color: rgb(255,225,226);
}
table.problemtable tr td.Runtime.Error {
    background-color: rgb(255,225,226);
}
table.problemtable tr td.Compile.Error {
    background-color: rgb(255,225,226);
}

img.problemstatementimage {
    max-width: 100%;
    min-width: 50%;
    width: 20em;
    margin: auto;
    display: block;
}

blockquote {
    color: rgb(100,100,100);
    border-left: solid 0.2em;
    border-color: rgb(180,180,180);
    padding-left: 1em;
}
