body {

    font-family: sans-serif;
    padding: 0;
    margin: 0;
    padding-bottom: 6em;
}

a {
    text-decoration: none;
}

#problembody {
    padding: 1em 2em;
    max-width: 50em;
    margin: auto;
    margin-top: 3em;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

nav table {
    width: 100%;
    padding: 1em 2em;
    background-color: rgba(224,224,224,1.0);
    table-layout: fixed;
}

.home {
    text-align: left;
}
.brand {
    text-align: center;
}
.login {
    text-align: right;
}
.loggedin {
    text-align: right;
}

table.samples {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.sampleterminal {
    font-family: monospace;
    background-color: rgba(0,0,0,0.1);
    padding: 1em 0.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgba(0,0,0,0.4);
    border-width: 1px;
}
table.samples td {
    padding: 0.2em;
}


#submitbutton {
    width: 5.1em;
    height: 2.3em;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.3em;
    border: none;
    font-size: 1.15em;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    background-color: rgba(59,187,99,1.0);
    color: white;
    position: fixed;
    right: 2em;
    top: 4.5em;
}

#loginformcontainer {
    width: 20em;
    margin: auto;
    padding: 1em;
    background-color: rgba(0,0,0,0.1);
}
#faillabel {
    color: red;
}
#signuparea {
    text-align: center;
}
#infoarea {
    text-align: center;
}

#loginform label {
    padding: 1em;
}
#loginform {
    padding: 1em 0;
}
#submitrow {
    text-align: center;
    padding-top: 1em;
}
#faillabel {
    text-align: center;
    width: 100%;
}
#signuplabel {
    text-align: center;
    width: 100%;
}



#problembodysubmit {
    padding: 1em 2em;
    min-width: 70vw;
    width: 70em;
    max-width: 90vw;
    margin: auto;
    margin-top: 3em;
    text-align: center;
}
#editor {
    max-width: 80vw;
    min-width: 70vw;
    height: 50vh;
    margin: auto;
    border-radius: 0.5em;
    border-width: 1px;
    min-height: 20em;
}



.submissions {
    table-layout: fixed;
    margin: auto;
    width: 100%;
}
.submissionsheaderrow {
    font-weight: bold;
}
