body {
    background-color: rgb(240,240,240);
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    padding-bottom: 4em;
    line-height: 170%;
}
button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.bodyfileeditor {
    background-color: white;
    padding: 0;
}
.bodyhome {
    background-color: white;
}



a {
    text-decoration: none;
    color: rgba(59,99,187,1.0);
}
a:visited {
    color: rgba(59,99,187,1.0);
}
.myfilesblankpage p {
    font-size: 0.9em;
}
#nosubmissionsp {
    font-size: 0.9em;
}

#myfilesbody {
    font-family: Merriweather, sans-serif;
    padding: 1em 2em;
    max-width: 50em;
    margin: auto;
    margin-top: 1em;
    background-color: rgb(255,255,255);
    padding-bottom: 2em;
}
#aboutbody {
    font-family: Merriweather, serif;
    padding: 1em 2em;
    max-width: 50em;
    margin: auto;
    margin-top: 1em;
    background-color: rgb(255,255,255);
    padding-bottom: 2em;
}
#controlpanelbody {
    font-family: "Open Sans", sans-serif;
    padding: 1em 2em;
    max-width: 50em;
    margin: auto;
    margin-top: 1em;
    background-color: rgb(255,255,255);
    padding-bottom: 2em;
}
#problembody {
    font-family: Merriweather, serif;
    padding: 1em 2em;
    max-width: 50em;
    margin: auto;
    margin-top: 1em;
    background-color: rgb(255,255,255);
    padding-bottom: 2em;
}
.statementparagraph {
    font-size: 0.9em;
}
.statementparagraph code {
    font-size: 1.3em;
}
#problemtitle {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 0em;
    margin-bottom: 0;
}



nav {
    width: 100%;
    font-weight: 700;
    font-family: Inconsolata, Monaco, Menlo, monospace;
    /*background-color: rgb(253,246,227);*/
    background-color: rgb(255,255,255);
    color: rgb(101,123,131);
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 1.2em;
    margin: 0;
}
#navigationtable {
    width: 100%;
    table-layout: fixed;
    height: 3.3em;
}
.centernavigationtablerow {
    text-align: center;
    max-width: 99%;
    margin: 0;
    padding: 0;
    height: auto;
}
#mobilenavigationrow {
    display: none;
}
#mobilenavigationtable {
    display: none;
}

.loginrow {
    text-align: right;
    width: 10em;
    padding: 0.5em 0;
    padding-right: 1.5em;
    line-height: 100%;
}
.loginrow a.loginlink {
    color: rgb(101,123,131);
}
.loginrow a.logoutlink {
    color: rgb(220,50,47);
    font-size: 0.8em;
    margin-top: 0em;
    padding-top: 0;
}
#loggedinmessage {
    color: rgb(181,137,0);
    margin-bottom: 0;
    padding-bottom: 0;
}
#loginbr {
    display: block;
    font-size: 0.3em;
}
.brandrow {
    text-align: left;
    width: 10em;
    padding: 0.5em 0;
    padding-left: 1.5em;
    font-weight: 700;
}
.brandrow .turing {
    color: rgb(224, 83, 24);
}
.brandrow .gang {
    color: rgb(7, 158, 163);
}
.brandrow .semicolon {
    color: rgb(70, 87, 92);
}
#centernavigationtable {
    table-layout: fixed;
    margin: 0 auto;
}
.leftnavlink {
    width: 10em;
}
.leftnavlink a {
    color: rgb(101,123,131);
}
.mobileleftnavlink a {
    color: rgb(101,123,131);
}
.navbaractive a {
    color: rgb(181, 137, 0);
}



/*
nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    line-height: 100%;
}
nav a {
    color: rgb(7, 158, 163);
    font-weight: 600;
    color: rgba(255,255,255,1.0);
}
nav a:visited {
    color: rgba(255,255,255,1.0);
}

nav table {
    width: 100%;
    padding: 1em 2em;
    background-color: rgba(11,100,62,1.0);
    color: white;
    table-layout: fixed;
}

.home {
    text-align: left;
}
.brand {
    text-align: center;
}
.login {
    text-align: right;
}
.loggedin {
    text-align: right;
}*/








table.samples {
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-collapse: collapse;
}

.sampleterminal {
    font-family: monospace;
    background-color: rgba(0,0,0,0.1);
    padding: 1em 0.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgba(0,0,0,0.4);
    border-width: 1px;
    white-space: pre-wrap;
    text-align: left;
    line-height: 140%;
}
table.samples td {
    padding: 0.2em;
}


#submitbutton {
    width: 6em;
    height: 2.2em;
    text-decoration: none;
    border-radius: 0.3em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    /*background-color: rgba(59,187,99,1.0);
    background-color: rgba(11,100,62,1.0);*/
    background-color: rgba(61,187,71,1.0);
    color: white;
    text-align: center;
    margin: 0.3em 0;
}

#submitcolumn {
    vertical-align: top;
}
#submitbuttonid {
    width: 5.1em;
    height: 2.3em;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.3em;
    border: none;
    font-size: 1.15em;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    /*background-color: rgba(59,187,99,1.0);
    background-color: rgba(11,100,62,1.0);*/
    background-color: rgba(61,187,71,1.0);
    color: white;
    margin-top: 1em;
}

#loginformcontainer {
    width: 15em;
    max-width: calc(100% - 4em);
    margin: auto;
    padding: 1em;
    padding-top: 0;
    /*background-color: rgba(0,0,0,0.1);*/
    font-family: "Open Sans", sans-serif;
}
.removefilecell a {
    color: rgba(239,17,29,1.0);
}
#faillabel {
    color: red;
    display: block;
    padding-bottom: 0.5em;
    padding-top: 0;
    margin-top: 0;
}
#signuparea {
    text-align: center;
}
h1.loginheader {
    margin-bottom: 0.7em;
}
#infoarea {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

#loginform h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-bottom: 0;
}
#loginform input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    -webkit-appearance: none;
}
#loginform input:focus {
    border-color: rgb(211, 54, 130);
}
#loginform {
    padding: 0;
}
#submitrow button {
    text-decoration: none;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 1em;
    cursor: pointer;
    height: 2.2em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    border-radius: 0.3em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    /*background-color: rgba(59,187,99,1.0);
    background-color: rgba(11,100,62,1.0);*/
    background-color: rgba(61,187,71,1.0);
    color: white;
    text-align: center;
}

#submitrow {
    text-align: center;
    padding: 1.5em 0;
}
#faillabel {
    text-align: center;
    width: 100%;
}
#signuplabel {
    text-align: center;
    width: 100%;
}



#problembodysubmit {
    padding: 1em 2em;
    min-width: 70vw;
    max-width: 50em;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    font-family: Merriweather, serif;
    background-color: rgb(255,255,255);
}
#problembodysubmission {
    padding: 1em 2em;
    min-width: 70vw;
    max-width: 50em;
    margin: auto;
    margin-top: 1em;
    font-family: Merriweather, serif;
    background-color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 0.7em;
    line-height: 130%;
}
#submissioninfo {
    width: 100%;
    margin: 2em 0;
    font-family: "Open Sans", sans-serif;
}
.tableheader {
    font-weight: bold;
}
#editor {
    width: 100%;
    height: 50vh;
    margin: auto;
    border-radius: 0.5em;
    border-width: 1px;
    min-height: 20em;
}


#submissioneditor {
    width: 100%;
    margin: auto;
    border-radius: 0.5em;
    border-width: 1px;
    min-height: 20em;
    line-height: 150%;
}


.submissions {
    margin: auto;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}
.realtable, .realtable td {
    border-width: 1px;
    border-color: rgba(231,231,232,1.0);
    border-style: solid;
    border-collapse: collapse;
}
.realtable td {
    padding: 0.2em 0.5em;
}
.submissionstitle {
    padding-top: 1em;
}

.code {
    white-space: pre-wrap;
}


.problemcredits {
    color: rgba(0,0,0,0.4);
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
}
#problemcreditsseparator {
    margin-top: 3em;
    border-color: rgba(0,0,0,0.1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}
#problemtimelimit {
    text-align: center;
    font-size: 0.9em;
    font-family: "Open Sans", sans-serif;
    color: rgb(147,161,161);
    margin: 0.5em 0;
}
#problemlosningsforslag {
    text-align: center;
    font-size: 0.9em;
    font-family: "Open Sans", sans-serif;
    margin: 0.5em 0;
}
#problemheader {
    text-align: center;
}
#problemheaderseparator {
    margin-top: 1em;
    border-color: rgba(0,0,0,0.1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.submissionstatus {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}
#submissioninfo .Accepted, .submissions .Accepted, #controlpanelbody .Accepted {
    color: rgba(61,187,71,1.0);
}
.Wrong.Answer, .Time.Limit.Exceeded, .Runtime.Error, .Run.Time.Error, .Compile.Error {
    color: rgba(239,17,29,1.0);
}
.Running {
    color: rgba(137, 137, 146, 1.0);
}









.problemtable {
    width: 100%;
    font-family: "Open Sans", sans-serif;
}
.myfilestable {
    width: 100%;
    font-family: "Open Sans", sans-serif;
}
#myfileslastupdatedtd {
    width: 10em;
}
#myfilesremovetd {
    width: 5.5em;
}

table.problemtable  tr  td.Accepted {
    background-color: rgba(218,255,229,1.0);
}
table.problemtable tr td.Wrong.Answer {
    background-color: rgb(255,225,226);
}
table.problemtable tr td.Time.Limit.Exceeded {
    background-color: rgb(255,225,226);
}
table.problemtable tr td.Runtime.Error {
    background-color: rgb(255,225,226);
}
table.problemtable tr td.Compile.Error {
    background-color: rgb(255,225,226);
}

img.problemstatementimage {
    max-width: 100%;
    min-width: 50%;
    width: 20em;
    margin: auto;
    display: block;
}

img#aboutimage {
    max-width: 100%;
    width: 30em;
    margin: 2em auto;
    display: block;
}

blockquote {
    color: rgb(100,100,100);
    border-left: solid 0.2em;
    border-color: rgb(180,180,180);
    padding-left: 1em;
}








#editortable {
    
    width:100%;
    height: calc(100vh - 5em);
    table-layout:fixed;
    margin: 0;


}

.editortextarea {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    outline: none;
}

#editoreditor {

    width:100%;
    height: 100%;

}
#editorerrormessage {
    font-size: 0.8em;
    color: rgb(220,50,47);
    font-family: monospace;
    white-space: pre-wrap;
    line-height: 140%;
    padding-bottom: 0.7em;
}

#editorleftpanel {
    padding: 0 1em;
}

#editorrightpanel {

    width: 16em;
    padding: 0 2em;
    padding-top: 1em;
    height: 100%;

}

/*#editoroutput {
    white-space: pre-wrap;
}*/

.editoriolabel {
    margin: 0;
    margin-bottom: 0.5em;
    padding-top: 0;
}

#editorcontrolpanel {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

#editorcontextualstatusdiv {
    font-size: 0.8em;
    padding-top: 0.15em;
    padding-bottom: 0;
    margin-bottom: 0;
}
#editorcontextualstatuslink {
    color: rgb(220,50,47);
    cursor: pointer;
}
#editorcontextualstatusmessage {
    color: rgb(101,123,131);
}
#editorcontextualstatusplaceholder {
    color: rgba(255,255,255,0);
}
#editoroutputlabel {
    padding-top: 0.5em;
}

#editorrunbutton {
    width: calc(100% - 4em);
    height: 2.3em;
    text-decoration: none;
    border-radius: 0.3em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    background-color: rgb(61,187,71);
    color: white;
}
button.editorrunbuttonrunning {
    background-color: rgb(230,180,0) !important;
}

.editorio {

    width: 100%;
    box-sizing: border-box;
    height: 10em;
    border: solid 1px #000;
    padding: 0.3em;
    font-family: monospace;
    font-size: 1em;
}



.centernavigationfile {
    text-align: center;
    max-width: 99%;
    margin: 0;
    padding: 0;
}

input.filenameinput {
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    border: none;
    padding: 0.3em;
    width: calc(100% - 2em);
    max-width: 20em;
}
input.filenameinput:hover {
    border: solid;
    border-width: 2px;
    border-color: rgb(240,240,240);
}
input.filenameinput:focus {
    border: solid;
    border-width: 2px;
    /*border-color: rgb(7, 158, 163);*/
    border-color: rgb(211, 54, 130);
    color: rgb(7, 54, 66);
}



input {
    font-size: 1em;
    border: solid;
    border-width: 2px;
    padding: 0.3em;
    outline: none;
    border-radius: 3px;
    border-color: rgb(151,173,191);
}
input:focus {
    border-color: rgb(211, 54, 130);
}



#myfilesheaderflexbox {
    width: 100%;
}
#myfilesheader {
    display: inline-block;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}
#newfilelink {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: auto;
    float: right;
    margin-top: 2.5em;
    padding: 0.3em 1em;
    transform: translateY(-50%);
    text-decoration: none;
    border-radius: 0.3em;
    border: none;
    /*font-size: 1em;*/
    cursor: pointer;
    outline: none;
    /*background-color: rgba(59,187,99,1.0);
    background-color: rgba(11,100,62,1.0);*/
    background-color: rgba(61,187,71,1.0);
    color: white;
}




/* mobile! */


#aboutbody p {
    font-size: 0.9em;
}


.postbody {
    font-family: Merriweather, serif;
    padding: 1em 2em;
    max-width: 50em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(255,255,255);
    padding-bottom: 2em;
}
.postcontent {
    font-size: 0.9em;
}
.postbody h1 {
    margin-bottom: 0;
}
.postdate {
    text-align: center;
    font-size: 0.9em;
    font-family: "Open Sans", sans-serif;
    color: rgb(147,161,161);
    margin: 0.5em 0;
}




#homemaindiv {
    font-family: "Open Sans";
    padding: 1em 2em;
    padding-top: 0;
    max-width: 55em;
    margin: auto;
    margin-top: 0;
    background-color: rgb(255,255,255);
    padding-bottom: 2em;
}
#homemaindiv h1 {
    font-family: Inconsolata, mono-space;
    font-size: 2.5em;
}
#homemaindiv .question {
    color: rgb(70,87,92);
}
#homemaindiv .turkos {
    color: rgb(7,158,163);
}
#homemaindiv .answer {
    color: rgb(224,83,24);
}
#homemaindiv #introinfo {
    margin-top: 2em;
    font-size: 1.2em;
    line-height: 180%;
    text-align: center;
}
.nomoreinfo {
    margin-top: 3em !important;
}
#homemaindiv #extrainfo {
    font-size: 1.2em;
    line-height: 180%;
    text-align: center;
}
#homemaindiv #signupturingsgang {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
#homemaindiv #signupturingsgang a {
    color: rgb(211,54,130);
}




@media (max-width: 780px) {
    #homemaindiv h1 {
        font-size: 2em;
    }
    .centernavigationtablerow {
        display: none;
    }
    .brandrow {
        width: 50%;
    }
    .loginrow {
        width: 50%;
    }
    #mobilenavigationrow {
        display: table-row;
    }
    #mobilenavigationrow td {
        width: 100%;
    }
    #mobilenavigationtable {
        display: table;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        padding-bottom: 0.8em;
        padding-top: 0.3em;
        /*padding-left: 0.9em;
        padding-right: 1.5em;*/
        padding-left: 1em;
        padding-right: 1em;
    }
    .mobileleftnavlink {
        text-align: center;
    }

}


.problemtable .solutions {
    width: 7.5em;
}
