body {

    font-family: sans-serif;
    padding: 0;
    margin: 0;

}


#maintable {
    
    width:100%;
    height:100vh;
    table-layout:fixed;


}

.textarea {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    outline: none;
}

#editor {

    width:100%;
    height: 100%;

}

#runstop {
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
}

#statustext {
    color: rgba(0,0,0,0.8);
    font-size: 0.9em;
    text-align: center;

}

#leftpanel {
    padding: 1em;
}

#rightpanel {

    width: 16em;
    padding: 2em;
    height: 100%;

}

#output {
    white-space: pre-wrap;
}

.button {

    width: 5em;
    height: 2.3em;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.3em;
    border: none;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    outline: none;

}

#runbutton {

    background-color: rgba(10,170,60,0.8);

    color: white;
}

#stopbutton:active {
    color: black;
}

.io {

    width: 100%;
    border: solid 1px #000;
    padding: 0.2em;
    font-family: monospace;
    font-size: 1em;
}


